{% extends "foodconnections/base.html" %}
{% load i18n %}
{% load account %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-4">メールアドレスの確認</h1>

                {% if confirmation %}
                    {% user_display confirmation.email_address.user as user_display %}
                    {% if can_confirm %}
                        <p>メールアドレスを認証して、ユーザー「 {{ user_display }} 」アカウントの登録を完了してください。

                            以下のメールアドレスがユーザー「 {{ user_display }} 」のものであることを確認してください：<a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a>
                        </p>
                        {% url 'account_confirm_email' confirmation.key as action_url %}
                        <form method="post" action="{{ action_url }}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">
                                メールアドレスを認証する
                            </button>
                        </form>
                    {% else %}
                        <p>
                            このメールアドレスはすでに確認されています。
                        </p>
                    {% endif %}
                {% else %}
                    {% url 'account_email' as email_url %}
                    <p>
                        このメールアドレスの確認リンクは期限切れまたは無効です。新しいメールアドレス確認リクエストを<a href="{{ email_url }}">発行してください</a>。
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
