{% extends 'foodconnections/base.html' %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form class="login allauth_form" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <h2 class="mb-4">ログイン</h2>
            {{ form | crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}    

            <button class="btn btn-primary btn-block my-3" type="submit">サインイン</button>
            <a class="btn btn-secondary btn-block" href="{% url 'account_reset_password' %}">
              <span>パスワードをお忘れですか？</span>
            </a>
            <p class="mt-3">ユーザー登録がお済みでない方は <a href="{{ signup_url }}">こちら</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}