{% extends "foodconnections/base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}パスワードリセット{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="card p-4">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset allauth_form">
            {% csrf_token %}
            <h2 class="mb-4">パスワードリセット</h2>
            <p class="mb-3">パスワードを忘れましたか？ 下記にメールアドレスを入力すると、パスワードをリセットするためのメールが送信されます。</p>
            {{ form | crispy }}
            <input class="btn btn-primary my-3 form-control" type="submit" value="パスワードをリセットする" />
            <p>
                パスワード設定に関する問題は<a href="#contact">こちら</a>までお問い合わせください。
            </p>
        </form>
    </div>
</div>
{% endblock %}
