{% extends "foodconnections/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="signup-form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <h2 class="mb-4  text-center">サインアップ</h2>

                {{ form | crispy }}

 
                <button class="btn btn-primary btn-block mt-5" type="submit">サインアップ</button>

                <p class="mt-3">すでにアカウントをお持ちの方は <a href="{% url 'account_login' %}">こちら</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
