/* 画像のトリミング（一覧の店舗画像） */
img {
  object-fit: cover; 
}

/* カルーセルの前後ボタンの幅とボタンスタイルを修正(top_page.htmlのおすすめ一覧) */
.carousel-control-next, .carousel-control-prev {
  width: 4.5%;
  min-width: 30px; /* 最小幅を設定することで、はみ出しを防ぐ */
  background-color: black;
}

/* aタグの色を指定（top_page.htmlカードのカルーセル内） */
.carousel-inner a:link, 
.carousel-inner a:visited, 
.carousel-inner a:hover, 
.carousel-inner a:active {
  color: black;
}

/* aタグにカーソルを置かれたときにアンダーラインを非表示 */
a:hover{
  text-decoration: none;
  }

  .button-container {
    display: inline-block;
  }

  /* aタグの色を指定（serch_result.htmlとcategory_list.htmlの店舗一覧） */
.restaurant-list a:link, 
.restaurant-list a:visited, 
.restaurant-list a:hover, 
.restaurant-list a:active {
  color: black;
}

/* コンテンツが少なくてもフッターを画面最下部に固定 */
.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer {
  margin-top: auto;
}

/* プロフィール画像を正円で表示する（マイページ用） */
.profile-image {
  width:300px;
  height:300px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center center;
}

/* プロフィール画像を正円で表示する（レビュー用） */
.review-profile-image {
  min-width:100px;
  height:100px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center center;
}
