{% extends './base.html' %}
{% load static %}
{% block content %}

<!--リダイレクト後のメッセージ表示-->
{% if messages %}
    {% for messeage in messages %}
        <div class="messeage">
            <p class="alert {% if messeage.tags %} alert-{{messeage.tags}} {% endif %}">{{ messeage }}</p>
        </div>
    {% endfor %}
{% endif %}

<h2>{{ user.username }}さんのマイページ</h2>

<h3>作成したレストラン一覧</h3>
{% if user_restaurants %}
    <table  class='table table-striped table-hover'>
        <th>店名</th>
        <th>カテゴリー</th>
        <th>編集/削除</th>
        {% for restaurant in user_restaurants %}
        <tr>
            <td>{{ restaurant.name }}</td>
            <td>{{ restaurant.category.name }}</td>
            <td>
            <a href="{% url 'foodconnections:update' pk=restaurant.pk %}" class="btn btn-primary">編集</a>
            <a href="{% url 'foodconnections:delete' pk=restaurant.pk %}" class="btn btn-danger">削除</a>   
            </td> 
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>まだレストランを作成していません。</p>
{% endif %}

<a href="{% url 'foodconnections:create' %}" class="btn btn-primary">新規作成</a>

<h3>投稿したレビュー一覧</h3>
{% if user_reviews %}
    <table  class='table table-striped table-hover'>
        <th>店名</th>
        <th>スコア</th>
        <th>コメント</th>
        <th>削除</th>
        {% for review in user_reviews %}
        <tr>
            <td>{{ review.restaurant.name }}</td>
            <td>{{ review.score }}</td>
            <td>{{ review.comment }}</td>
            <td>
            <a href="{% url 'foodconnections:review_delete' pk=review.pk %}" class="btn btn-danger">削除</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>まだレビューを投稿していません。</p>
{% endif %}

{% endblock %}