{% extends './base.html' %}
{% load static %}
{% block content %}

{% if messages %}
    {% for messeage in messages %}
        <div class="messeage">
            <p class="alert {% if messeage.tags %} alert-{{messeage.tags}} {% endif %}">{{ messeage }}</p>
        </div>
    {% endfor %}
{% endif %}

<h1>お店一覧</h1>

<div class="container">
    <div class="row">
        {% for restaurant in restaurant_list %}
        <div class="col-md-4 mb-4">
            <div class="card">
            {% if restaurant.image %}
                <img src="{{ restaurant.image.url }}" class="card-img-top"  width=100% height="200" alt="{{ restaurant.name }}">
            {% else %}
                <img src="{% static 'foodconnections/images/no_image.png' %}" width=100% height="200" alt="No Image">
            {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ restaurant.name }}</h5>
                    <p class="card-text">{{ restaurant.category.name }}</p>
                    <a href="{% url 'foodconnections:detail' restaurant.pk %}" class="btn btn-primary">詳細を見る</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<a href="{% url 'foodconnections:create' %}">新規作成</a>

{% endblock %}