{% extends './base.html' %}
{% load static %}
{% block content %}

<!--リダイレクト後のメッセージ表示-->
{% if messages %}
<div class="messages">
    {% for messeage in messages %}
      <p class="alert {% if messeage.tags %} alert-{{ messeage.tags }} {% endif %}">{{ messeage }}</p>
    {% endfor %}
</div>
{% endif %}

<!--検索フォーム-->
<form method="get" action="{% url 'foodconnections:search_results' %}">
    {{ search_form }}
    <button type="submit" class="btn btn-secondary my-2 my-sm-0">検索</button>
</form>

<h1 class="mt-3">ピックアップ</h1>
<div class="container mt-1">
    <div class="row">
        {% for recommend in recommends %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="{% url 'foodconnections:detail' recommend.pk %}">
                <img src="{{ recommend.image.url }}" class="card-img-top"  width=100% height="200" alt="{{ recommend.name }}">
                </a>
                <div class="card-body">
                    <a href="{% url 'foodconnections:detail' recommend.pk %}" class="btn btn-primary">{{ recommend.name }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<h1 class="mt-3">カテゴリー</h1>
<div class="container mt-1">
    <div class="row">
        {% for category in categories %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="{% url 'foodconnections:category_list' category.id %}">
                <img src="{{ category.image.url }}" class="card-img-top"  width=100% height="200" alt="{{ category.name }}">
                </a>
                <div class="card-body">
                    <a href="{% url 'foodconnections:category_list' category.id %}" class="btn btn-primary">{{ category.name }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<a href="{% url 'foodconnections:search_results' %}" class="mt-3">全てのお店を見る</a>

{% endblock %}